<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sis</title>
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/cadastroProduto.css">
</head>

<body>

    <fieldset>
        <h4>Produto</h4>
        <input type="search" id="produto" name="produto" placeholder="Nome do produto">
        <h4>Refêrncia</h4>
        <input type="search" id="referencia" name="referencia" placeholder="Referencia">
        <h4>Valor / compra</h4>
        <input type="search" id="valor-compra" name="valor-compra" placeholder="Val compra">
        <h4>Valor / venda</h4>
        <input type="search" id="valor-venda" name="valor-venda" placeholder="Val venda">
        <h4>Cor referencia</h4>
       
        <input type="color" id="cor" name="cor" min="2" max="2" list="referencia">
        <datalist id="referencia">
            <option value="red">red</option>
            <option value="black">black</option>

        </datalist>
    </fieldset>




















    <script src="../src/cadastroProduto.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>