<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sis___Login</title>
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/sistema.css">
</head>

<body>
      <span class="sr-only"></span>
    <section class="container-botoes">
        <i class="fa fa-edge fa-2x" title="Acesso a Internete" onclick="internete()"></i><hr>
        <i class="fa fa-users fa-2x" title="Cadastro de Cliente" onclick="cliente()"></i><hr>
        <i class="fa fa-tasks fa-2x" title="Cadastro de Produtos" onclick="cadastroProduto()"></i><hr>
        <i class="fa fa-handshake-o fa-2x" title="Pedido"></i><hr>
        <i class="fa fa-television fa-2x" title="PDV"></i><hr>
        <i class="fa fa-truck fa-2x" title="Entraga"></i><hr>
        <i class="fa fa-wrench fa-2x" title="ADM SISTEMA"></i><hr>
        <i class="fa fa-plug fa-2x" title="Fechar tela do Sistema" onclick="fecharTela()"></i><hr>
        <i class="fa fa-navicon fa-fa-2x" title="Menu Principal" onclick="aplicativos()"></i>
    </section>
    <div class="secao-do-frame">
        <iframe src="" frameborder="0"></iframe>
       
    </div>


    <script src="../src/sistema.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>

